scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/adobewkndproject
        create path (nt:unstructured) /content/dam/adobewkndproject/jcr:content
        set properties on /content/dam/adobewkndproject/jcr:content
        set cq:conf{String} to /conf/adobewkndproject
        set jcr:title{String} to \"Adobe WKND Project\"
        end
        "
]
