scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/forms-wknd
        create path (nt:unstructured) /content/dam/forms-wknd/jcr:content
        set properties on /content/dam/forms-wknd/jcr:content
        set cq:conf{String} to /conf/forms-wknd
        set jcr:title{String} to \"WKND Forms aaCS\"
        end
        "
]
